<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Cricket-Scorer-App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <button class="btn btn-outline-info mr-2" [routerLink]="['/scorecard']">Scorecard</button>
  <button class="btn btn-outline-info mr-2" [routerLink]="['/commentry']">Commentry</button>
  <button class="btn btn-outline-info mr-2" [routerLink]="['/admin']">Admin</button>
  
</nav>
<router-outlet></router-outlet>